<nav class="navbar">

  <div class="navbar-brand" routerLink="/">
    🍽️ RecipeApp
  </div>

  <!-- LINKS -->
  <div class="navbar-links">

    <!-- NON CONNECTÉ -->

    <ng-container *ngIf="!(user$ | async)">
    
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/all-meals" routerLinkActive="active">Recettes</a>
      <a routerLink="/categories" routerLinkActive="active">Catégories</a>
      <a routerLink="/areas" routerLinkActive="active">Régions</a>
      <a routerLink="/ingredients" routerLinkActive="active">Ingrédients</a>
      <a routerLink="/multi-ingredient-filter" routerLinkActive="active">
        Multi-ingrédients
      </a>

      <a routerLink="/login" routerLinkActive="active">Connexion</a>
      <a routerLink="/signup" routerLinkActive="active" class="btn-outline">
        Inscription
      </a>
    </ng-container>

    <!-- CONNECTÉ -->
    <ng-container *ngIf="user$ | async">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a *ngIf="isAdmin"
         routerLink="/admin"
         routerLinkActive="active"
         class="admin-link">
        🔐 Admin
      </a>
      <a routerLink="/all-meals" routerLinkActive="active">Recettes</a>
      <a routerLink="/categories" routerLinkActive="active">Catégories</a>
      <a routerLink="/areas" routerLinkActive="active">Régions</a>
      <a routerLink="/ingredients" routerLinkActive="active">Ingrédients</a>
      <a routerLink="/multi-ingredient-filter" routerLinkActive="active">
        Multi-ingrédients
      </a>

      <a routerLink="/favorites" routerLinkActive="active">⭐ Favoris</a>
      <a routerLink="/meal-history" routerLinkActive="active">📜 Historique</a>
      <a routerLink="/profile" routerLinkActive="active">👤 Profil</a>

      <button class="btn-logout" (click)="logout()">
        Déconnexion
      </button>

    </ng-container>

  </div>

</nav>
