<!-- <nav class="navbar">
  <h2>projet devops</h2>
  <div class="nav-buttons">
    <button routerLink="/login" routerLinkActive="active">Connexion</button>
    <button routerLink="/signup" routerLinkActive="active">Inscription</button>
    <button routerLink="/dashboard" routerLinkActive="active">Tableau de bord</button>
    <button *ngIf="user$ | async as user" (click)="logout()">Déconnexion</button>
  </div>
</nav> -->


<nav class="navbar">
  <h2>projet devops</h2>

  <div class="nav-buttons">
    <!-- 🔓 Si l’utilisateur n’est PAS connecté -->
    <ng-container *ngIf="!(user$ | async)">
      <button routerLink="/login" routerLinkActive="active">Connexion</button>
      <button routerLink="/signup" routerLinkActive="active">Inscription</button>
    </ng-container>

    <!-- 🔐 Si l’utilisateur est connecté -->
    <ng-container *ngIf="user$ | async as user">
      <button routerLink="/all-meals">Toutes les recettes</button>
      <button routerLink="/categories">Voir les catégories</button>
      <button routerLink="/areas">Voir les régions</button>
      <button routerLink="/multi-ingredient-filter">Filtrer par multi-ingrédients</button>
      
      <button routerLink="/ingredients">Voir les ingrédients</button>

      <button routerLink="/dashboard" routerLinkActive="active">Tableau de bord</button>
      <button routerLink="/favorites">⭐ Mes Favoris</button>
      <button routerLink="/meal-history">📜 Historique des repas</button>
      <button routerLink="/profile">👤 Mon Profil</button>
      <button (click)="logout()">Déconnexion</button>
    </ng-container>
  </div>
</nav>
