<nav class="navbar">
  <h2>Projet DevOps</h2>

  <div class="nav-buttons">

    <!-- NON CONNECTÉ -->
    <ng-container *ngIf="!(user$ | async)">
      <button routerLink="/login">Connexion</button>
      <button routerLink="/signup">Inscription</button>
    </ng-container>

    <!-- CONNECTÉ -->
    <ng-container *ngIf="user$ | async">

      <button *ngIf="isAdmin" routerLink="/admin">
        🔐 Admin Dashboard
      </button>

      <button routerLink="/all-meals">Toutes les recettes</button>
      <button routerLink="/categories">Catégories</button>
      <button routerLink="/areas">Régions</button>
      <button routerLink="/ingredients">Ingrédients</button>
      <button routerLink="/multi-ingredient-filter">Multi-ingrédients</button>

      <button routerLink="/dashboard">Dashboard</button>
      <button routerLink="/favorites">⭐ Favoris</button>
      <button routerLink="/meal-history">📜 Historique</button>
      <button routerLink="/profile">👤 Profil</button>

      <button (click)="logout()">Déconnexion</button>
    </ng-container>

  </div>
</nav>
