<div class="category-meals-container">

  <h2 class="category-meals-title">
    Plats de la catégorie : {{ category }}
  </h2>

  <div *ngIf="loading" class="loading">
    Chargement...
  </div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>

  <div class="meals-grid" *ngIf="!loading && !error">
    <div
      class="meal-card"
      *ngFor="let meal of meals"
      [routerLink]="['/meal', meal.idMeal]"
    >

      <img
        [src]="meal.strMealThumb"
        [alt]="meal.strMeal"
      >

      <h3>{{ meal.strMeal }}</h3>

      <a
        class="btn-primary"
        [routerLink]="['/meal', meal.idMeal]"
        (click)="$event.stopPropagation()"
      >
        Voir détails
      </a>

    </div>
  </div>

</div>
