<div class="profile-container" *ngIf="userData">

  <h2>Mon Profil</h2>

  <div class="photo-section">
    <img
      *ngIf="previewUrl"
      [src]="previewUrl"
      alt="Photo utilisateur"
      class="user-avatar"
    />
    <input type="file" (change)="onFileSelected($event)" [disabled]="!isEditing" />
  </div>

  <form [formGroup]="profileForm" (ngSubmit)="onSave()">

    <label>
      Prénom :
      <input formControlName="firstName" type="text" [readonly]="!isEditing" />
    </label>

    <label>
      Nom :
      <input formControlName="lastName" type="text" [readonly]="!isEditing" />
    </label>

    <label>
      Date de naissance :
      <input formControlName="birthDate" type="date" [readonly]="!isEditing" />
    </label>

    <label>
      Email :
      <input formControlName="email" type="email" readonly class="readonly-field" />
    </label>

    <label>
      Mot de passe :
      <input formControlName="password" type="password" [readonly]="!isEditing" />
    </label>

    <div class="buttons">
      <button type="button" *ngIf="!isEditing" (click)="enableEditing()">Modifier</button>
      <button type="submit" *ngIf="isEditing" [disabled]="loading">Sauvegarder</button>
      <button type="button" *ngIf="isEditing" (click)="onCancel()">Annuler</button>
    </div>

  </form>

</div>
<hr />

<div class="history-section">
  <h3 class="">🕒 Recettes consultées</h3>

  <app-meal-history></app-meal-history>
</div>

<hr />

<div class="favorites-section">

  <h3>⭐ Mes favoris</h3>

  <app-favorites [showTitle]="false"></app-favorites>
</div>
