<p>categories-list works!</p>
<div class="container">

  <h2 class="title">🍽️ Meal Categories</h2>

  <!-- Loading -->
  <div *ngIf="loading" class="loading">Chargement...</div>

  <!-- Error -->
  <div *ngIf="error" class="error">{{ error }}</div>

  <!-- Categories Grid -->
<div class="categories-grid" *ngIf="!loading && !error">
  <div class="category-card" *ngFor="let cat of categories">
    <a [routerLink]="['/categories', cat.strCategory]" class="category-link">
      <img [src]="cat.strCategoryThumb" [alt]="cat.strCategory" />
      <h3>{{ cat.strCategory }}</h3>
    </a>
    <p class="description">{{ cat.strCategoryDescription | slice:0:120 }}...</p>
  </div>
</div>
